[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-cors-headers = "*"
pillow = "*"
pymysql = "*"
django-environ = "*"
django-debug-toolbar = "*"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
start = "python manage.py runserver"
migrate = "bash -c 'python manage.py makemigrations && python manage.py migrate'"
startapp = "python manage.py startapp"
shell = "python manage.py shell"
showmigrations = "python manage.py showmigrations"
rollback = "python manage.py migrate"
